.vstags
MYMETA.json
MYMETA.yml                                                                                                                                                                                   
Makefile.perl                                                                                                                                                                                
blib/                                                                                                                                                                                        
debian/debhelper-build-stamp                                                                                                                                                                 
debian/files                                                                                                                                                                                 
debian/libx2go-log-perl.debhelper.log                                                                                                                                                        
debian/libx2go-log-perl.substvars                                                                                                                                                            
debian/libx2go-log-perl/                                                                                                                                                                    
debian/libx2go-server-db-perl.debhelper.log                                                                                                                                                  
debian/libx2go-server-db-perl.substvars                                                                                                                                                      
debian/libx2go-server-db-perl/                                                                                                                                                               
debian/libx2go-server-perl.debhelper.log                                                                                                                                                     
debian/libx2go-server-perl.substvars                                                                                                                                                         
debian/libx2go-server-perl/                                                                                                                                                                  
debian/tmp/                                                                                                                                                                                  
debian/x2goserver-common.debhelper.log                                                                                                                                                       
debian/x2goserver-common.substvars                                                                                                                                                           
debian/x2goserver-common/                                                                                                                                                                    
debian/x2goserver-extensions.debhelper.log                                                                                                                                                   
debian/x2goserver-extensions.substvars                                                                                                                                                       
debian/x2goserver-extensions/                                                                                                                                                                
debian/x2goserver-fmbindings.debhelper.log                                                                                                                                                   
debian/x2goserver-fmbindings.substvars                                                                                                                                                       
debian/x2goserver-fmbindings/                                                                                                                                                                
debian/x2goserver-printing.debhelper.log                                                                                                                                                     
debian/x2goserver-printing.substvars                                                                                                                                                         
debian/x2goserver-printing/                                                                                                                                                                  
debian/x2goserver-x2goagent.debhelper.log                                                                                                                                                    
debian/x2goserver-x2goagent.substvars                                                                                                                                                        
debian/x2goserver-x2goagent/                                                                                                                                                                 
debian/x2goserver-xsession.debhelper.log                                                                                                                                                     
debian/x2goserver-xsession.substvars                                                                                                                                                         
debian/x2goserver-xsession/                                                                                                                                                                  
debian/x2goserver.debhelper.log                                                                                                                                                              
debian/x2goserver.postinst.debhelper                                                                                                                                                         
debian/x2goserver.postrm.debhelper                                                                                                                                                           
debian/x2goserver.prerm.debhelper                                                                                                                                                            
debian/x2goserver.substvars                                                                                                                                                                  
debian/x2goserver/                                                                                                                                                                           
libx2go-server-db-perl/lib/libx2go-server-db-sqlite3-wrapper                                                                                                                                 
pm_to_blib                                                                                                                                                                                   
x2goserver-common/.build_man2html/                                                                                                                                                           
x2goserver-extensions/.build_man2html/                                                                                                                                                       
x2goserver-fmbindings/.build_man2html/                                                                                                                                                       
x2goserver-printing/.build_man2html/                                                                                                                                                         
x2goserver-x2goagent/.build_man2html/                                                                                                                                                        
x2goserver/.build_man2html/